<div class="container text-center">
    <h1>Contact</h1><br>
    <p>For any requests, compliments or anything really, please reach out at:</p>
    <a href="mailto:wedontcare@THP.com?">wedocare@THP.com</a>
</div>
