<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <a href="/"><img src="/img/TMP.png" alt="TMP"></a>
      <h2>Got hearsay? Dump it below!</h2>
      <form action='/gossips/new/' method='POST'>
        Your name:  <input type='text' name='gossip_author'/><br/>
        Your gossip: <input type='text' name='gossip_content'/><br/>
        <input type='submit'/>
      </form>
    </main>
  </body>
</html>
