*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: white;
    font-size: 14px;
    font-family: arial,sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}

html{
    height:100%;
}

body > div{
    flex:1;
}

a{
    text-decoration: none;
}

header{
    color: #202124;
    display: flex;
    justify-content: flex-end;
    font:13px;
    height: 48px;
    align-items: center;
    padding:12px;
}

header a{
    color: rgba(0,0,0,.87);;
}

.header_button{
    padding:0.5em;
}

content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    border:10px;
    margin:10px;
    margin-bottom: 9%;
}

content.div{
    padding: 10px;
    border:10px;
    margin:10px;
}

input{
    width:550px;
    border:none;
    height: 40px;
}


.logo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 20px;
}

.search_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border:#dfe1e5 1px solid;
    width:638px;
}
.search_bar:hover{
    box-shadow: 0px 1px 3px rgb(192, 185, 185);

}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

button{
    margin: 10px;
    padding: 8px 15px;
    border:none;
}

.loup{
    height:44px;
    width:33px;
    display: flex;
    align-items: center;
}

.loup_svg{
    width:20px;

}
.voice{
    height: 44px;
    width: 40px;
    display: flex;
    align-items: center;

}

.voice_svg{
    width:20px;
}

.blank{
    /*min-height: 200;*/
    margin-top: 20px;
    
}


footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color:#70757a;

}

footer a{
    color:#70757a;
}

.country{
    border-bottom: 1px solid #dadce0;
    padding: 1em;
}

.footer_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_content .bloc:nth-child(1){
    order: 2;
}

.footer_content .bloc:nth-child(2){
    order: 1;
}

.footer_content .bloc:nth-child(3){
    order: 3;
}

.bloc{
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    padding:1em;
    height:0.8em;

}

.bloc div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:1em;

}