<div class="container text-center">
    <h1 class="mb-3">Development Team</h1><br>
    <p>This website has been provided by:</p>
    <div class="row row-cols-1 row-cols-md-2 text-center ">
      <div class= "col">
        <div class="card">
            <div class="card-header">
                <a href="http://www.github.com/Pefington">Pefington</a>
            </div>
            <div class= "card-body">
                <span class="card-tile">The best front end developer. But he hates Bootstraps</span><br>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-header">
                <a href="http://www.github.com/Samsou1">Samsou1</a>
            </div>
            <div class= "card-body">
                <span class="card-tile">He likes to have his snacks right at 5pm. But if he does he's an ok developer</span><br>
            </div>
        </div>
      </div>
    </div>
</div>
