<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/reference/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/reference/custom.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <title>Comment</title>
</head>

<body>
  <div class="container">
    <legend>Comments</legend>
    <div>
      <div class="container d-flex align-items-baseline mt-4">
        <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="" style="height:3rem;" =>
        <p>User1 posted on 30/05/2022 at 10:32pm:</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <hr>
    </div>
    <div>
      <div class="container d-flex align-items-baseline mt-4">
        <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="" style="height:3rem;" =>
        <p>User2 posted on 28/09/2021 at 5:34pm:</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <hr>
    </div>
    <div>
      <div class="container d-flex align-items-baseline mt-4">
        <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="" style="height:3rem;" =>
        <p>User3 posted on 14/03/2022 at 9:52pm:</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <hr>
    </div>

    <div>
      <legend>Post a comment</legend>
      <div class="form-group">
        <label for="comment" class="form-label mt-4"></label>
        <input type="text" class="form-control" id="comment" placeholder="Enter comment">
        <small id="emailHelp" class="form-text text-muted">Please respect our main guidelines.</small>
      </div>
      <div class="mt-4">
        <button type="button" class="btn btn-lg btn-primary">Post comment</button>
      </div>

    </div>


  </div>
</body>

</html>
