<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="/reference/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/reference/custom.css">
  <title>Ressource</title>
</head>
  <body>
      <div class="container">
        <div class="row justify-content-around align-items-center">
          <div class="col-8">
            <img alt ="Image placeholder" src="https://cdn.pixabay.com/photo/2015/09/19/16/19/birthday-947438_960_720.jpg" class="img-fluid img-center">
          </div>
          <div class="col-4">
            <h3>Information</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in massa tempor nec feugiat nisl. Senectus et netus et malesuada fames ac turpis egestas. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui.</p>
          </div>
        </div>
        <div class="container d-flex justify-content-center mt-4">
          <i href ="" class="bi bi-paypal" style="font-size: 3rem;"></i>
          <i href ="" class="bi bi-calendar-event offset-2" style="font-size: 3rem;"></i>
        </div>
        <div class="container d-flex justify-content-center mt-4">
          <button type="button" class="btn btn-primary">Join this event</button>
          <button type="button" class="btn btn-secondary offset-1">Cancel your reservation</button>
        </div>
        <div class="row justify-content-around align-items-center mt-4">
          <div class="col-8">
            <h3>Description</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in massa tempor nec feugiat nisl. Senectus et netus et malesuada fames ac turpis egestas. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui.</p>
          </div>
          <div class="col-4">
            <h5>More info</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in massa tempor nec feugiat nisl. Senectus et netus et malesuada fames ac turpis egestas. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui.</p>
          </div>
        </div>
        <div class="row justify-content-around align-items-center">
          <div class="col-2"><i href ="" class="bi bi-facebook" style="font-size: 3rem;"></i></div>
          <div class="col-2"><i href ="" class="bi bi-whatsapp" style="font-size: 3rem;"></i></div>
          <div class="col-2"><i href ="" class="bi bi-github" style="font-size: 3rem;"></i></div>
          <div class="col-2"><i href ="" class="bi bi-instagram" style="font-size: 3rem;"></i></div>
          <div class="col-2"><i href ="" class="bi bi-youtube" style="font-size: 3rem;"></i></div>
          <div class="col-2"><i href ="" class="bi bi-telegram" style="font-size: 3rem;"></i></div>

        </div>

      </div>
  </body>
</html>