<footer class="mt-auto row">
  <div class="container d-flex col justify-content-center ">
    <p>Made by <a href="https://github.com/Pefington/">Pefington</a> and <a href="https://github.com/Samsou1">Samsou1</a>&nbsp;·&nbsp;</p>
    <p> © 2017–2022 br8ghter, Inc.&nbsp;</p>
    <p><a href="#"> Privacy</a> · <a href="#">Terms</a></p>
  </div>
</footer>
